@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/Museo-Sans-100-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("/fonts/museosans-500.otf") format("opentype");
  font-weight: 700;
  font-style: bold;
}
