---
import Hero from "@/components/Hero.astro";
import MissionSection from "@/components/about/MissionSection.astro";
import Layout from "@/layouts/Layout.astro";
import ValuesSection from "@/components/about/ValuesSection.astro";
import TeamSection from "@/components/about/TeamSection.astro";
import AboutImage from "@/assets/hero/about.jpg";
---

<Layout
  title="About"
  description="Disciples of Escoffier, we perpetuate the excellence of French cuisine through generations. Discover our institution and our values."
  keywords="About, Disciples d'Escoffier, Provence Méditerranée, institution, Auguste Escoffier, Escoffier, legacy, disciples, gastronomy, provence, mediterranee, mediteranee, mediterranee, méditerranée, disciple escoffier, disciples d'escoffier, disiples escoffier"
>
  <div class="relative">
    <Hero picture={AboutImage} pictureAlt="About">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">About</h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Our Institution
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Disciples of Escoffier, we perpetuate the excellence of French cuisine
          through generations
        </p>
      </div>
    </Hero>

    <MissionSection />
    <ValuesSection />
    <TeamSection />
  </div>
</Layout>
