---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import ArticlesImage from "@/assets/hero/articles.jpeg";
import ArticlesSection from "@/components/articles/ArticlesSection.astro";

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Articles",
  url: "https://disciplesescoffier-provence-mediterranee.org/en/articles/",
  description: "Stay informed about our latest news, tips and recipes",
};
---

<Layout
  title="Articles"
  description="Stay informed about our latest news, tips and recipes"
  keywords="Articles, news, tips, recipes, provence, mediterranee, mediteranee, mediterranee, méditerranée, chefferie, chef, cuisine, gastronomy, french cuisine, mediterranean cuisine"
  jsonLd={jsonLd}
>
  <Hero picture={ArticlesImage} pictureAlt="Articles">
    <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
        Articles
      </h1>
      <h2
        class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
      >
        Our Knowledge
      </h2>
      <p
        class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
      >
        Stay informed about our latest news, tips and recipes
      </p>
    </div>
  </Hero>
  <ArticlesSection />
</Layout>
