---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import EventsImage from "@/assets/hero/events.jpg";
import EventSection from "@/components/events/EventSection.astro";
---

<Layout title="Events">
  <div class="relative">
    <Hero picture={EventsImage} pictureAlt="Events">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          Events
        </h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Our Actions
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Discover our latest actions and upcoming culinary events
        </p>
      </div>
    </Hero>
    <EventSection />
  </div>
</Layout>
