---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import InstitutionSection from "@/components/home/InstitutionSection.astro";
import VolunteeringSection from "@/components/home/VolunteeringSection.astro";
import AssociationsSection from "@/components/home/AssociationsSection.astro";
import HomeImage from "@/assets/hero/home.jpg";
import HomeVideoSection from "@/components/home/HomeVideoSection.astro";
import LastActionsSection from "@/components/home/LastActionsSection.astro";
import NextEventsSection from "@/components/home/NextEventsSection.astro";
import InternationalBanner from "@/components/home/InternationalBanner.astro";
---

<Layout>
  <div class="relative">
    <Hero picture={HomeImage} pictureAlt="Escoffiers Provence Méditerranée">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-5xl md:text-7xl font-bold mb-6">
          Escoffiers Delegation
        </h1>
        <h2 class="text-3xl md:text-5xl mb-8 text-blue-500 font-bold">
          Provence Méditerranée
        </h2>
        <p class="text-xl md:text-2xl mb-8 max-w-2xl mx-auto leading-relaxed">
          Together, let's grow gastronomy in all its diversity.
        </p>
        <div class="flex flex-col sm:flex-row gap-4 justify-center">
          <a
            href={`/en/about`}
            class="bg-primary text-bordered hover:bg-primary/90 text-white font-semibold py-3 px-6 rounded-lg transition-all duration-300 transform hover:shadow-lg flex items-center justify-center"
          >
            Who we are ?
          </a>
          <a
            href={`/en/events`}
            class="border-2 border-white hover:bg-white hover:text-black px-8 py-3 rounded-lg font-semibold transition-colors"
          >
            Our events
          </a>
        </div>
      </div>
    </Hero>

    <InstitutionSection />
    <VolunteeringSection />
    <HomeVideoSection />
    <AssociationsSection />
    <section class="relative py-20">
      <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 gap-6">
        <LastActionsSection />
        <NextEventsSection />
      </div>
    </section>
    <InternationalBanner />
  </div>
</Layout>
