---
import Hero from "@/components/Hero.astro";
import MissionSection from "@/components/about/MissionSection.astro";
import Layout from "@/layouts/Layout.astro";
import ValuesSection from "@/components/about/ValuesSection.astro";
import TeamSection from "@/components/about/TeamSection.astro";
import AboutImage from "@/assets/hero/about.jpg";
---

<Layout title="À Propos">
  <div class="relative">
    <Hero picture={AboutImage} pictureAlt="A propos">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          À Propos
        </h1>
        <h2
          class="text-3xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Notre Institution
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Disciples d'Escoffier, nous perpétuons l'excellence culinaire
          française à travers les générations
        </p>
      </div>
    </Hero>

    <MissionSection />
    <ValuesSection />
    <TeamSection />
  </div>
</Layout>
