---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import EventsImage from "@/assets/hero/events.jpg";
import EventSection from "@/components/events/EventSection.astro";

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Événements",
  url: "https://disciplesescoffier-provence-mediterranee.org/evenements/",
  description:
    "Retrouvez nos dernières actions et découvrez nos prochains évènements culinaires",
};
---

<Layout
  title="Événements"
  description="Retrouvez nos dernières actions et découvrez nos prochains évènements culinaires"
  keywords="Événements, actions, évènements culinaires, actions, activities, charité, don, donner, provence, mediterranee, mediteranee, mediterranee, méditerranée"
  jsonLd={jsonLd}
>
  <div class="relative">
    <Hero picture={EventsImage} pictureAlt="Événements">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          Événements
        </h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Nos Actions
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Retrouvez nos dernières actions et découvrez nos prochains évènements
          culinaire
        </p>
      </div>
    </Hero>
    <EventSection />
  </div>
</Layout>
