---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import MembersImage from "@/assets/hero/members.jpg";
import DisciplesSection from "@/components/members/DisciplesSection.astro";

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Les Disciples",
  url: "https://disciplesescoffier-provence-mediterranee.org/les-disciples/",
  description:
    "Découvrez l'équipe des Disciples d'Escoffier Provence Mediterranée, composée de membres de toutes les professions de la gastronomie",
};
---

<Layout
  title="Les Disciples"
  description="Découvrez l'équipe des Disciples d'Escoffier Provence Mediterranée, composée de membres de toutes les professions de la gastronomie"
  keywords="Les Disciples, équipe, Disciples d'Escoffier, Provence Méditerranée, disciples, gastronomie, provence, mediterranee, mediteranee, mediterranee, méditerranée, disciple escoffier, disciples d'escoffier, disiples escoffier"
  jsonLd={jsonLd}
>
  <div class="relative">
    <Hero picture={MembersImage} pictureAlt="Les Disciples">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          Les Disciples
        </h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Notre Équipe
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Découvrez l'équipe des Disciples d'Escoffier Provence Mediterranée,
          composée de membres de toutes les professions de la gastronomie
        </p>
      </div>
    </Hero>
    <DisciplesSection />
  </div>
</Layout>
