---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/contact/ContactForm.astro";
import ContactImage from "@/assets/hero/contact.jpg";

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: "Nous Rejoindre",
  url: "https://disciplesescoffier-provence-mediterranee.org/nous-rejoindre/",
  description:
    "Passionné(e) de cuisine ou des métiers de la salle et désireux(se) de perpétuer l'héritage d'Auguste Escoffier ? Contactez-nous pour découvrir comment devenir disciple et servir la gastronomie",
};
---

<Layout
  title="Nous Rejoindre"
  description="Passionné(e) de cuisine ou des métiers de la salle et désireux(se) de perpétuer l'héritage d'Auguste Escoffier ? Contactez-nous pour découvrir comment  devenir disciple et servir la gastronomie"
  keywords="Nous Rejoindre, contact, contactez-nous, devenir disciple, servir la gastronomier"
  jsonLd={jsonLd}
>
  <div class="relative">
    <Hero picture={ContactImage} pictureAlt="Nous Rejoindre">
      <div class="relative z-20 text-center text-white px-4 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-7xl font-bold mb-6 text-bordered">
          Nous Rejoindre
        </h1>
        <h2
          class="text-2xl md:text-5xl font-bold mb-8 text-primary text-bordered"
        >
          Contactez-nous
        </h2>
        <p
          class="text-xl md:text-2xl mb-8 max-w-3xl mx-auto leading-relaxed text-bordered"
        >
          Passionné(e) de cuisine ou des métiers de la salle et désireux(se) de
          perpétuer l'héritage d'Auguste Escoffier ? Contactez-nous pour
          découvrir comment devenir disciple et servir la gastronomie
        </p>
      </div>
    </Hero>
    <section class="relative py-12 bg-white">
      <div class="container mx-auto px-4">
        <div class="max-w-6xl mx-auto">
          <div
            class="border-l-4 border-primary bg-primary/10 p-6 rounded-lg mb-10 flex flex-col items-center justify-center shadow-lg"
          >
            <blockquote class="text-lg italic text-text-primary mb-3">
              "La cuisine est un art qui doit être traité avec respect et
              passion."
            </blockquote>
            <cite class="font-semibold text-primary-accessible"
              >Auguste Escoffier</cite
            >
          </div>
          <ContactForm locale="fr" />
        </div>
      </div>
    </section>
  </div>
</Layout>
