---
import { getAllLastActions } from "@/lib/sanity-queries";
import type { Locale } from "@/lib/i18n";
import { formatDate } from "@/lib/date";
import { getTranslations } from "@/lib/i18n";

const locale = Astro.currentLocale as Locale;

const lastActions = await getAllLastActions();
const t = getTranslations(locale);
---

<div class="relative">
  <div
    class="bg-white/90 backdrop-blur-sm shadow-lg rounded-lg p-8 border-2 border-tertiary"
  >
    <h3 class="text-2xl font-semibold mb-6">
      {t.home.lastActionsSection.title}
    </h3>
    <div class="space-y-4">
      {
        lastActions.length > 0 ? (
          lastActions.map((action) => (
            <div class="flex flex-col space-y-2 border-t pt-4 first:border-t-0 border-tertiary first:pt-0">
              <div class="font-bold border-2 border-tertiary w-fit px-2 py-1 rounded-md">
                {formatDate(new Date(action.date), locale)}
              </div>
              <p class="font-medium text-lg">{action.title[locale]}</p>
              <p>{action.intro[locale]}</p>
            </div>
          ))
        ) : (
          <div class="flex flex-col gap-y-2 justify-center items-center w-full bg-tertiary/90 p-4 rounded-lg">
            <p class="text-center text-white text-2xl font-bold">
              Aucune action récente pour le moment
            </p>
          </div>
        )
      }
    </div>
  </div>
</div>
