---
import { Image } from "astro:assets";
export interface Props {
  picture: ImageMetadata;
  pictureAlt?: string;
}

const { picture, pictureAlt = "Hero image" } = Astro.props;
---

<section
  class="relative h-screen flex items-center justify-center overflow-hidden"
>
  <!-- Image de fond -->
  <div class="absolute inset-0 z-0 overflow-hidden">
    <div
      class="absolute rounded-full w-[85%] sm:w-[50%] h-[60%] sm:h-[35%] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gradient-to-b from-black/80 to-black/50 z-10 blur-3xl"
    >
    </div>
    <Image
      src={picture}
      alt={pictureAlt}
      widths={[640, 1024, 1440, 1920]}
      sizes="100vw"
      format="webp"
      class="absolute inset-0 w-full h-full object-cover"
      priority
    />
  </div>

  <!-- Contenu du slot -->
  <slot />

  <!-- Scroll indicator -->
  <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 z-20">
    <div
      class="w-6 h-10 border-2 border-white rounded-full flex justify-center"
    >
      <div class="w-1 h-3 bg-white rounded-full mt-2 animate-bounce"></div>
    </div>
  </div>
</section>
