---
const size = Astro.props.size ?? 24;
const className = Astro.props.class ?? "";
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="currentColor"
  viewBox="0 0 24 24"
  height={size}
  width={size}
  class={className}
  aria-label="Instagram"
>
  <title>Instagram</title>
  <path
    fill="currentColor"
    fill-rule="evenodd"
    d="M6.22855 0.882085C7.72765 0.806595 9.6389 0.75 12 0.75c2.3611 0 4.27235 0.0566 5.77145 0.132085C20.7165 1.030385 22.9696 3.2835 23.1179 6.2285c0.0755 1.49915 0.1321 3.4104 0.1321 5.7715 0 2.3611 -0.0566 4.27235 -0.1321 5.7715 -0.1483 2.945 -2.4014 5.1981 -5.34645 5.3464 -1.4991 0.0755 -3.41035 0.1321 -5.77145 0.1321 -2.3611 0 -4.27235 -0.0566 -5.77145 -0.1321C3.2835 22.9696 1.030385 20.7165 0.882085 17.77145 0.806595 16.27235 0.75 14.3611 0.75 12c0 -2.3611 0.0566 -4.27235 0.132085 -5.7715C1.030385 3.283495 3.2835 1.030385 6.22855 0.882085ZM17.5 5c0 -0.552285 0.4477 -1 1 -1h0.5c0.5523 0 1 0.447715 1 1 0 0.5523 -0.4477 1 -1 1h-0.5c-0.5523 0 -1 -0.4477 -1 -1Zm-5.5 3c-2.20915 0 -4 1.79085 -4 4s1.79085 4 4 4 4 -1.79085 4 -4 -1.79085 -4 -4 -4Zm-6 4c0 -3.3137 2.6863 -6 6 -6s6 2.6863 6 6 -2.6863 6 -6 6 -6 -2.6863 -6 -6Z"
    clip-rule="evenodd"
    stroke-width="0.5"></path>
</svg>
