---
import Navbar from "../components/navigation/Navbar.astro";
import Footer from "../components/navigation/Footer.astro";
import "../styles/global.css";
import "../styles/fonts.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Les Disciples d'Escoffier Marseille</title>
  </head>
  <body class="font-['Museo_Sans']">
    <Navbar currentPath={Astro.url.pathname} />
    <slot />
    <Footer />
  </body>
</html>
